.custom-button {
    min-width: 10rem;
    width: auto;
    height: 3rem;
    letter-spacing: 0.5px;
    line-height: 3rem;
    padding: 0 2rem 0 2rem; 
    font-size: .9rem; 
    background-color: black;
    color: white; 
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black; 
    }

    // firebase 20. 
    &.google-sign-in {
      background-color: #4285f4; //this is a google blue
      color: white; 

      &:hover {
        background-color: #357ae8; //a darkner google blue shade
        border: none; 
      }
    }
  }
  