//COLLECTION PREVIEW EQUALS PUBLICATION-PREVIEW
.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  
    .title {
      font-size: 1.5rem;
      margin: auto; 
      cursor: pointer; 
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  