

.sign-in {
    width: 25rem; 
    display: flex; 
    flex-direction: column;
    

    .title {
        margin: .8rem 0; 
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}