//CATEGORIES EQUALS COLLECTION PREVIEW
.categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  
    .title {
      font-size: 1.5rem;
      margin: auto; 
    }
  
    .categories-items {
      display: flex;
      justify-content: space-between;
    }
  }
  