.reading-list {
    width: 100%;
    display: flex;
    height: 5rem;
    margin-bottom: 1rem;
  
    img {
      width: 30%;
    }
  
    .item-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: .6rem 1.2rem;
  
      .name {
        font-size: 1rem;
      }

      .author {
        width: 10%;
      }
    }
  }
  