//CATEGORIES EQUALS COLLECTION PREVIEW
.publications {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  
    .title {
      font-size: 1.5rem;
      margin: .5rem; 
    }
  
    .publications-items {
      display: flex;
      flex-direction: column; 
      margin: .5rem; 
    }
  }
  