.header {
    height: 4.5rem;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem; 

    .logo-container {
        height: 100%;
        width: 7rem;
        padding: 2rem; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .options {
        width: 50%;
        height: 100%; 
        display: flex; 
        font-weight: bolder; 
        align-items: center;
        justify-content: flex-end;
        margin: 1rem; 

        .option {
            padding: .8rem 1.5rem;
          }
        
        .option:hover {
            cursor: pointer; 
        }
    }
}