//MENU ITEM EQUALS FLAGSHIP CONTENT
.menu-item {
    min-width: 25%;
    height: 15rem; 
    flex: 1 1 auto; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 2px solid black; 
    margin: 0 0.5rem 1rem; 
    overflow: hidden; 

    &:hover {
        cursor: pointer;
    
        & .background-image {
          transform: scale(1.1);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    
        & .contents {
          opacity: 0.9;
        }
      }

    &.medium {
        height: 15rem;
    }

    &.large {
        height: 23rem; 
        width: 90%; 
        background-position: center -1px;  //TEMPORARY
    }

    &.large:last-child { //TEMPORARY
        background-position: center -4rem;  
    }

    &:first-child {
        margin-right: 0.5rem;
    }

    &:last-child {
        margin-left: 0.5rem; 
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }

    .contents {
        height: 5.5rem; 
        padding: 0 2rem; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        border: 0.5px solid black; 
        background-color: rgba($color: silver, $alpha: 0.5); 
        position: absolute; 
        opacity: 0.8; 
        

        .title {
            font-weight: 700; 
            margin-bottom: 0.4rem;
            font-size: 1.5rem; 
            color: gold; 
        }

        .subtitle {
            font-weight: 500; 
            font-size: 1rem; 
            color: white; 
        }
    }
}