.footer{
    width: 95%;
    height: 4rem; 
    padding: 1rem; 
    background-color: black;
    color: white; 
    display: flex; 
    margin: 1rem auto; 
    align-items: center; 
    justify-content: center;
}