.banner {
    width: 91%; 
    height: 9rem; 
    margin: auto; 
    padding: 0 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 

    .image {
        width: 100%;
        height: 95%;
        background-size: cover; 
        background-position: center;
    }

    .banner-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        color: white; 
        

        .banner-title {
            font-size: 2rem; 
            font-weight: 700; 
            text-transform: uppercase;
        }

        .banner-subtitle {
            font-size: 1rem;
        }
    }
}